<a href="https://colab.research.google.com/github/tashubansal/Data-science/blob/main/Door_Mat_Design.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Let's us make a various Mat-Designs:

In [32]:
n=int(input("Enter the number of rows:"))
m=int(input("Enter the number of columns:"))
a=".|."
for i in range(0,n+1):
  a=(2*i+1)*a
  if(i==(n//2)):
    print("WElCOME".center(m,'-'))
    break
  else:  
    print(a.center(m,'-'))
    a=".|."
a=".|."    
for i in range(n//2,0,-1):
  a=(2*i-1)*a
  print(a.center(m,'-'))
  a=".|."

Enter the number of rows:11
Enter the number of columns:33
---------------.|.---------------
------------.|..|..|.------------
---------.|..|..|..|..|.---------
------.|..|..|..|..|..|..|.------
---.|..|..|..|..|..|..|..|..|.---
-------------WElCOME-------------
---.|..|..|..|..|..|..|..|..|.---
------.|..|..|..|..|..|..|.------
---------.|..|..|..|..|.---------
------------.|..|..|.------------
---------------.|.---------------

In [31]:
n=int(input("Enter the number of rows:"))
m=int(input("Enter the number of columns:"))
a=".|."
for i in range(0,n+1):
  a=(2*i+1)*a
  if(i==(n//2)):
    print("WElCOME".center(m,'-'))
    break
  else:  
    print(a.center(m,'-'))
    a=".|."
a=".|."    
for i in range(n//2,0,-1):
  a=(2*i-1)*a
  print(a.center(m,'-'))
  a=".|."

Enter the number of rows:7
Enter the number of columns:21
---------.|.---------
------.|..|..|.------
---.|..|..|..|..|.---
-------WElCOME-------
---.|..|..|..|..|.---
------.|..|..|.------
---------.|.---------

In [33]:
n=int(input("Enter the number of rows:"))
m=int(input("Enter the number of columns:"))
a=".|."
for i in range(0,n+1):
  a=(2*i+1)*a
  if(i==(n//2)):
    print("WElCOME".center(m,'-'))
    break
  else:  
    print(a.center(m,'-'))
    a=".|."
a=".|."    
for i in range(n//2,0,-1):
  a=(2*i-1)*a
  print(a.center(m,'-'))
  a=".|."

Enter the number of rows:9
Enter the number of columns:27
------------.|.------------
---------.|..|..|.---------
------.|..|..|..|..|.------
---.|..|..|..|..|..|..|.---
----------WElCOME----------
---.|..|..|..|..|..|..|.---
------.|..|..|..|..|.------
---------.|..|..|.---------
------------.|.------------