In [1]:
# Basic python program to print anything on the screen.
print("hello world")

hello world

In [2]:
# Creating variables and printing it
a=2
print(a)

2

In [3]:
# To get the type of the object
type(a)

int

In [4]:
# Typecasting:- Changing the type of the object. Example:- The above object created is of type "int", let's convert it into type "string" and see the output.
a=str(a)
print(a)
print(type(a))

2
<class 'str'>

In [5]:
# To get the input from the user "input()" method is used.
user_input=input("Enter the number:")
print(user_input)

Enter the number:3
3

In [6]:
#Program to swap two numbers using third number:-
num1=int(input("Enter the first number:"))
num2=int(input("Enter the second number:"))
temp=num1
num1=num2
num2=temp
print("After swaping the numbers are:")
print("num1:",num1)
print("num2:",num2)

Enter the first number:23
Enter the second number:12
After swaping the numbers are:
num1: 12
num2: 23

In [7]:
#Program to calculate the simple interest
P=int(input("Enter the principal amount:"))
R=int(input("Enter the annual rate interest:"))
T=int(input("Enter the time(in years):"))
SI=(P*R*T)/100 #Formula for calculating the interest.
print("The Simple Interest is:",SI)

Enter the principal amount:2000
Enter the annual rate interest:10
Enter the time(in years):2
The Simple Interest is: 400.0

In [8]:
#Calculating the selling price and discount
SP=int(input("Enter the Selling Price:"))
D=int(input("Enter the Discount(in percent)"))
DA=(D/100)*SP
FP=SP-DA
print("The final price of the product is:",FP)

Enter the Selling Price:2000
Enter the Discount(in percent)10
The final price of the product is: 1800.0

In [9]:
#Calculate the net salary
BP=int(input("Enter the BP ="))
print("HRA is 20% of BP")
HRA=(20/100)*BP
print(HRA)
print("DA is 90% of BP")
DA=(90/100)*BP
print(DA)
print("PF is 10% of BP")
PF=(10/100)*BP
print(PF)
print("NP=BP+HRA+DA-PF")
NP=BP+HRA+DA-PF
print("Net salary is = ",NP)

Enter the BP =10000
HRA is 20% of BP
2000.0
DA is 90% of BP
9000.0
PF is 10% of BP
1000.0
NP=BP+HRA+DA-PF
Net salary is =  20000.0

#**Conditional statements and Loops:-**

In [10]:
# Program to find sum of a digits in a number
sum=0
n=0
num=int(input("Enter the number:"))
while(num>0):
    n=num%10
    sum=n+sum
    num=num//10
print("The sum of digits is",sum)

Enter the number:10
The sum of digits is 1

In [13]:
#Program to find all the operators
num1=int(input("Enter the first number:"))
num2=int(input("Enter the second number:"))
print("1 for +")
print("2 for -")
print("3 for *")
print("4 for /")
print("5 for //")
print("6 for ++")
print("7 for --")
print("8 for **") #power operator
print("9 for %")  #modulus operator
 
op=int(input("According to above,enter the operation you want to perform:"))
if op==1:
   print("The + operator perform addition")
   print("The result is:",num1+num2)
elif op==2:
   print("The - operator perform subtraction")
   print("The result is:",num1-num2)
elif op==3:
   print("The * operator perform multiplication")
   print("The result is:",num1*num2)
elif op==4:
   print("The / operator perform division")
   print("The result is:",num1/num2)   
elif op==5:
   print("The // operator gives floor value")
   print("The result is:",num1//num2)
elif op==6:
   print("The ++ is a increment operator")
   print("The result is:",++num1,"",++num2)
elif op==7:
   print("The -- is a decrement operator")
   print("The result is:",--num1,"",--num2)
elif op==8:
   print("The ** is raise to power operator")
   print("The result is:",num1**num2)
elif op==9:
   print("The % is a modulus operator")
   print("The result is:",num1%num2)
else:
  print("Invalid Input")

Enter the first number:12
Enter the second number:78
1 for +
2 for -
3 for *
4 for /
5 for //
6 for ++
7 for --
8 for **
9 for %
According to above,enter the operation you want to perform:5
The // operator gives floor value
The result is: 0

In [14]:
#program to find whether a number is armstrong is not
sum=0
n=0
num=int(input("Enter the number:"))
temp=num
while(temp>0):
    n=temp%10
    sum=(n**3)+sum
    temp=temp//10
if(sum==num):
  print("THe number is armstrong")
else:
  print("The number is not armstrong")

Enter the number:233
The number is not armstrong

In [15]:
#program to find the grades
eng=int(input("Enter the marks of English"))
math=int(input("Enter the marks of Maths"))
sci=int(input("Enter the marks of Science"))
per=((eng+math+sci)/300)*100
print("The Percentage is",per,"%")
if(per>80):
  print("The Grade is A")
elif(per>=60):
  print("The Grade is B")
elif(per>=40):
  print("The Grade is C")
else:
  print("The Grade is D")

Enter the marks of English89
Enter the marks of Maths76
Enter the marks of Science34
The Percentage is 66.33333333333333 %
The Grade is B

In [16]:
# Read numbers from the user until user enters -1 and find the maximum number from them.
num=0
max=0
while(num!=-1):
  num=int(input())
  if(max<num):
    max=num
print("The maximum number is",max)

2
3
89
65
-1
The maximum number is 89

In [17]:
even=0
odd=0
for i in range(21):
  if(i%2==0):
    even+=i
  else:
    odd+=i 
print("Sum of even number is",even)    
print("Sum of odd number is",odd)

Sum of even number is 110
Sum of odd number is 100

In [18]:
# To check whether the number is perfect or not.
num=int(input("Enter the number:"))
sum_factors=0
for i in range(1,num):
    if(num%i==0):
      sum_factors=sum_factors+i
if(sum_factors==num):
  print("Number is Perfect")
else:
  print("Number is not Perfect")

Enter the number:27
Number is not Perfect

In [19]:
#Range function(syntex-range(start,end,step)-->end is exclusive and step can be positive or negative)
print("Decrement is 1:")
for i in range(0,11,1):
  print(i,end=" ") 
print("\nDecrement is 2:")    
for i in range(0,11,2):
  print(i,end=" ")  
print("\nExample of a back loop:")
for i in range(10,0,-1):
  print(i,end=" ")  
for i in range(4,4):  #--->prints nothing
  print(i)

Decrement is 1:
0 1 2 3 4 5 6 7 8 9 10
Decrement is 2:
0 2 4 6 8 10
Example of a back loop:
10 9 8 7 6 5 4 3 2 1

In [20]:
#programn to find a factorial of a number
fact=1
num=int(input("Enter the number you want to find the factorial:"))
for i in range(1,num+1):
  fact=fact*i
print("Factorial of a number:",fact)

Enter the number you want to find the factorial:7
Factorial of a number: 5040

In [21]:
#wap a program to generate fibonaaci series
n=int(input("Enter the number of terms you want to generate:"))
i=0
n1=0
n2=1
nth=n1+n2
for i in range(i,n):
    print(n1,end=" ")
    nth=n1+n2
    n1=n2
    n2=nth

Enter the number of terms you want to generate:10
0 1 1 2 3 5 8 13 21 34

In [22]:
#program to print numbers from 0 to 20 anf then print those numbers which are divisible by 5
i=0
e=0
for i in range(i,21):
  print("The number to be displayed:",i) 
  e=i
  if(e%5==0):
    print("Number",e,"is divisble")

The number to be displayed: 0
Number 0 is divisble
The number to be displayed: 1
The number to be displayed: 2
The number to be displayed: 3
The number to be displayed: 4
The number to be displayed: 5
Number 5 is divisble
The number to be displayed: 6
The number to be displayed: 7
The number to be displayed: 8
The number to be displayed: 9
The number to be displayed: 10
Number 10 is divisble
The number to be displayed: 11
The number to be displayed: 12
The number to be displayed: 13
The number to be displayed: 14
The number to be displayed: 15
Number 15 is divisble
The number to be displayed: 16
The number to be displayed: 17
The number to be displayed: 18
The number to be displayed: 19
The number to be displayed: 20
Number 20 is divisble

In [23]:
#wap a program to print the patterns
for i in range(6,0,-1):
  for j in range(1,i+1):
    print(i,end=' ')
  print(" ")  
print("--------Next--------")

for i in range(1,7):
  for j in range(1,i+1):
    print(j,end=' ')
  print(" ")

6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1
--------Next--------
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [24]:
#program to find a number is prime or composite.
flag=0
num=int(input("Enter the number:"))
for i in range(2,num):
  if(num%i==0):
    flag=1
    break
if(flag==1):
  print("Number is composite")
else:
  print("Number is prime")

Enter the number:234
Number is composite

In [25]:
#sum of first 5 reciprocal natural numbers.
sum=0
n=5
for i in range(1,n+1):
  sum+=(1/i)
print("Sum is:",sum)

Sum is: 2.283333333333333

In [28]:
#sum of only positive inputs out of 5 inputs
sum=0
print("Enter the 5 inputs")
for i in range(1,6):
  num=int(input())
  if(num>0):
    sum=sum+num
print("Sum of positive inputs is:",sum)

Enter the 5 inputs
12
-3
122
12
-98
Sum of positive inputs is: 146

In [29]:
#print a table from 2 to 5
for i in range(2,6):
  print("Table of",i,":")
  for j in range(1,11):
    print(i,"*",j,"=",i*j)
print("------Next-------")

Table of 2 :
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
Table of 3 :
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
Table of 4 :
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
Table of 5 :
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
------Next-------

In [30]:
#count a occurence of a character in a string
count=0
str="akjefoihwehqcdwap9fuqeojgierhfuoqwhdqgduiediwah9dhfhewigjwpoghwepffhweoihg"
occ=input("Enter the character you want to find the occurence:")
for i in str:
  if(occ==i):
    count=count+1
if(count==0):
  print("The character doesn't occur")
else:
  print("The entered character occurs",count,"times")

Enter the character you want to find the occurence:j
The entered character occurs 3 times