List is collection of ordered elements.Values in list can be modified i.e. lists are mutuable.The values that make up a list are called elements,and they can be any type.

In [ ]:
#list decleration
list=[1,2,3,4,5] #list of numbers
list2=["Chd","Bathinda","Ropar","Patiala"] #list of strings
list3=[1,2,"hello",9,10]
ll=[] #empty list
mm=[1,2,[8,9,10],"hii"] #Nested list
print(list)
print(list2)
print(mm)

[1, 2, 3, 4, 5]
['Chd', 'Bathinda', 'Ropar', 'Patiala']
[1, 2, [8, 9, 10], 'hii']

In [ ]:
fruits=['apple','banana','orange','cherry']
print(fruits[0])
print(fruits[3])

apple
cherry

In [ ]:
#concatenation
print(list+list2)

[1, 2, 3, 4, 5, 'Chd', 'Bathinda', 'Ropar', 'Patiala']

In [ ]:
#list slicing
print(list[0:3])
print(list[0:6:2])
print(list[::-1]) #reversing the list
print(list[-5:2])

[1, 2, 3]
[1, 3, 5]
[5, 4, 3, 2, 1]
[1, 2]

In [ ]:
list1=[2,3,4,5,6,7]
list2=[2,3,4,5,6,7]
res1=list1==list2
print(res1)

True

In [ ]:
list3=[10,3,4,5,6,10]
res2=list1<list3  
print(res2)
#if any element is found greater or lesser it will give the True or False

True

In [ ]:
#range function can be also used to traverse the list
# print(list(range(9)))

##List Functions

len() , count() , append() , insert() , extend() , pop() , del() , sort() , clear() , max(list) , min(list) , clear()

In [ ]:
l=[2,4,67,8,4,0,8,9,12,23,45,67,77,2,2]
list2=[0,1,2,3,4,5]
print(len(l))
print(l.count(2)) #count the occurence of a element in a list
l.append(list2) #append function will add the new list as a nested list
print("After appending list will be:",l)
l.extend(list2)  #extend function will add the new list as a new list elements
print("After extending list will be:",l)
l.insert(0,4) #insert(index,value)
print("After using insert function:",l)
print(l.pop()) #remove the element from the end
print(l.pop(1)) #remove the element at index 1
print(l)
del(l[1:10])  #slicing can be used to del the elements 
print(l)  #can delete multiple elements at one time
l3=[1,9,7,5,0,4,2]
l3.sort()
print("Sorted list:",l3)
l3.sort(reverse=True)
print("Sorted list in reverse order:",l3)

15
3
After appending list will be: [2, 4, 67, 8, 4, 0, 8, 9, 12, 23, 45, 67, 77, 2, 2, [0, 1, 2, 3, 4, 5]]
After extending list will be: [2, 4, 67, 8, 4, 0, 8, 9, 12, 23, 45, 67, 77, 2, 2, [0, 1, 2, 3, 4, 5], 0, 1, 2, 3, 4, 5]
After using insert function: [4, 2, 4, 67, 8, 4, 0, 8, 9, 12, 23, 45, 67, 77, 2, 2, [0, 1, 2, 3, 4, 5], 0, 1, 2, 3, 4, 5]
5
2
[4, 4, 67, 8, 4, 0, 8, 9, 12, 23, 45, 67, 77, 2, 2, [0, 1, 2, 3, 4, 5], 0, 1, 2, 3, 4]
[4, 45, 67, 77, 2, 2, [0, 1, 2, 3, 4, 5], 0, 1, 2, 3, 4]
Sorted list: [0, 1, 2, 4, 5, 7, 9]
Sorted list in reverse order: [9, 7, 5, 4, 2, 1, 0]

In [ ]:
print(max(l3))
print(min(l3))
l3.clear() #it will not delete the list.it just clear all the elements of the list and return empty list
print(l3)

9
0
[]

#**List Comprehension**

In [ ]:
nums=[-1,25,9,-30,5]

pos=[i for i in nums if i>0]
print(pos)

res=[i for i in nums if i<0]
print(res)

#sum of positive elements of list
sum=0
for i in pos:
  sum=i+sum
print("sum:",sum)

abspairs=[(x,abs(x)) for x in nums if x<0]
print(abspairs)

[25, 9, 5]
[-1, -30]
sum: 39
[(-1, 1), (-30, 30)]

In [ ]:
rers=[x*4 for x in 'spam']
rers

['ssss', 'pppp', 'aaaa', 'mmmm']

In [ ]:
vec1=[11,2,4]
vec2=[6,1,2]

#cross product of two lists using comprehension
vec3=[x*y for x in vec1 for y in vec2]
print(vec3)

# cross addition of elements of two lists
add=[x+y for x in vec1 for y in vec2]
print(add)

#addition of elements of list
add2=[vec1[i]+vec2[i] for i in range(len(vec1))]  #we add using the index of the list elements
print(add2)

#multiplication of elements of list
mul=[vec1[i]*vec2[i] for i in range(len(vec1))]
print(mul)

[66, 11, 22, 12, 2, 4, 24, 4, 8]
[17, 12, 13, 8, 3, 4, 10, 5, 6]
[17, 3, 6]
[66, 2, 8]

In [ ]:
# Mutiplying the elements of the list by 3 
l=[2,3,4,5,6,7,8]
l2=[x*3 for x in l]
print("With comprehension",l2)

# Without comprehension
l3=[]
i=0
for x in l:
  i=x*3
  l3.append(i)
print("Without comprehension:",l3)

With comprehension [6, 9, 12, 15, 18, 21, 24]
Without comprehension: [6, 9, 12, 15, 18, 21, 24]

In [ ]:
# Concept of copy element
vehicle=["car","cycle","bike","activa","bus"]
new_vehicle=vehicle
new_vehicle[0]="" #it will automatically update this value in vehcile variable as they are pointing to the same object
print(vehicle)

['Car', 'cycle', 'bike', 'activa', 'bus']

In [ ]:
# We can iterate the list elements using two methods
vehicle=["car","bike","motercycle"]
for i in vehicle:
  print(i,end=" ")
for i in range(len(vehicle)):
  print(vehicle[i],end=" ")

car bike motercycle car bike motercycle

In [ ]:
#Program to input the list elements as per the count and then find the sum of the elements
n=int(input("Enter the number of elements:"))
sum=0
l=[]
for i in range(0,n):
  ele=int(input())
  l.append(ele)
print("The list values are:",l)
for i in l:
  sum+=i
print("The sum of the elements of a list:",sum)

Enter the number of elements:5
10
9
8
9
10
The list values are: [10, 9, 8, 9, 10]
The sum of the elements of a list: 46

In [ ]:
#program to find the middle element in random a sorted list
n=int(input("Enter the number of elements:"))
l=[]
for i in range(0,n):
  ele=int(input())
  l.append(ele)
l.sort()
i=len(l)//2 
print("Sorted list:",l)
print("Middle element is:",l[i])

Enter the number of elements:5
1
2
8
4
5
Sorted list: [1, 2, 4, 5, 8]
Middle element is: 4

In [ ]:
#add a pair(x,y) in a list for x in list1 its square y in list2
list1=[1,2,8,6,3,9]
list2=[1,9,64,81]
list3=[(i,j) for i in list1 for j in list2 if i*i==j]
print(list3)

#without comprehension
list4=[]
for i in list1:
  for j in list2:
    if i*i==j:
      list4.append((i,j))
print(list4)

[(1, 1), (8, 64), (3, 9), (9, 81)]
[(1, 1), (8, 64), (3, 9), (9, 81)]

In [ ]:
#Enter the marks of the students and display info using dictionary
n=int(input("Enter the number of records"))
dic={}
l=[]
for i in range(0,n):
  i=input("Enter the name:")
  dic[i]=int(input("English marks"))
print(dic)

Enter the number of records3
Enter the name:Tashu Bansal
English marks97
Enter the name:Hitesh Kumar
English marks95
Enter the name:Navneet Kaur
English marks98
{'Tashu Bansal': 97, 'Hitesh Kumar': 95, 'Navneet Kaur': 98}

In [ ]:
n=int(input("Enter the number of records"))
dic={}
for i in range(0,n):
  i=input("Enter the name:")
  print("Enter the marks:")
  l=[]
  for j in range(0,2):
    x=int(input())
    l.append(x)
  dic[i]=list(l)  
print(dic)

Enter the number of records2
Enter the name:tashu
Enter the marks:
45
89
Enter the name:hitesh
Enter the marks:
67
90
{'tashu': [45, 89], 'hitesh': [67, 90]}

In [ ]:
dic={}
n=int(input("Enter the number of records"))
for i in range(0,n):
  i=input("Enter the name:")
  dic2={}
  for m in range(0,2):
    j=input("Enter subject name:")
    dic2[j]=int(input("Enter the marks:"))
  dic[i]=dic2
print(dic)

Enter the number of records2
Enter the name:Tashu Bansal
Enter subject name:Microprocessor
Enter the marks:93
Enter subject name:Computer Graphics
Enter the marks:98
Enter the name:Navneet Kaur
Enter subject name:Microprocessor
Enter the marks:89
Enter subject name:Computer Graphics
Enter the marks:90
{'Tashu Bansal': {'Microprocessor': 93, 'Computer Graphics': 98}, 'Navneet Kaur': {'Microprocessor': 89, 'Computer Graphics': 90}}

In [ ]:
#write the comprehension code of the following:
fruits=["banana","apple","mango","grapes"]
newlist=[]
for x in fruits:
    if "a" in x:
      newlist.append(x)
print(newlist)    
newlist2=[]
fruits=["banana","apple","mngo","grpes","xyz"]
newlist=[x for x in fruits if 'a' in x]
newlist2=[y for y in fruits if y[0]=='a']
print(newlist2)
print(newlist)

['banana', 'apple', 'mango', 'grapes']
['apple']
['banana', 'apple']

In [ ]:
#Sorting program
r=0
l=[1,8,9,5,6,7,3]
for i in range(0,len(l)):
  for j in range(0,len(l)-1):
    if(l[i]<l[j]):
      r=l[i]
      l[i]=l[j]
      l[j]=r
l

[1, 3, 5, 6, 7, 8, 9]

# Tuple:-

A tuple is collection of ordered elements placed in a square brackets() which is immutable i.e. we can't change the values in a tuple.

In [1]:
# Creation of a tuple
a=1,2,3,4,5 #without brackets
b=1, #single element requires comma in the end
c=1  #if we don't use the comma it will be taken as integer value
d=(1,) #using bracket also requires comma
e=(1,2,3,4,(9,8,7))  #nested tuple
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(e)

<class 'tuple'>
<class 'tuple'>
<class 'int'>
<class 'tuple'>
(1, 2, 3, 4, (9, 8, 7))

In [2]:
#Accessing the elements of the tuple
for i in e:
  print(i,end=" ")
print(" ")
for i in range(len(e)):
  print(e[i],end=" ")

1 2 3 4 (9, 8, 7)
1 2 3 4 (9, 8, 7)

##**Tuple Functions:**:

---

len() , count() , max() , min() , index() , sorted() , cmp()

cmp()-->It will compare the two tuples and return 0 if both are same , -1 if first is greater than the second one and 1 if second is greater than first

In [3]:
t=(1,2,2,3,45,9,2,6,5,7)
t1=(9,8)
print(len(t))
print(t.count(2))
print(max(t))
print(min(t))
print(sorted(t)) #will return the result as a result
print(t.index(5)) #return the index where the element is present
# print(t.index(10))--->Gives an error if ele is not present in a tuple
# print(cmp(t,t1)) --->Not Working

10
3
45
1
[1, 2, 2, 2, 3, 5, 6, 7, 9, 45]
8

In [5]:
#tuple addition
t1=(1,2,3,4)
t2=(5,6,7,8,9)
print(t1+t2)
print(t1*2) #doubling the number of elements
for i in t1:
  print(i*2,end=" ") #multiplying the elements of a tuple

#Changing the element of the tuple t1[0]=23  -->Gives an error
# del t1[4]  -->Error('Tuple' object doesn't support the item deletion)

del t1 #this will be executed and the tuple will be deleted

#print(t1) -->it will show error as it is deleted

(1, 2, 3, 4, 5, 6, 7, 8, 9)
(1, 2, 3, 4, 1, 2, 3, 4)
2 4 6 8

In [6]:
#tuple slicing
t=1,2,3,4,5,6,7,8,9
print(t[:])
print(t[0:4])
print(t[2:8:2])
print(t[::-1]) #reversing

(1, 2, 3, 4, 5, 6, 7, 8, 9)
(1, 2, 3, 4)
(3, 5, 7)
(9, 8, 7, 6, 5, 4, 3, 2, 1)

In [7]:
#Example of a tuple and a list
indoor=['carrom','table-tennis','badminton']
outdoor=['football','cricket']
games=(indoor,outdoor)
print(games)
games[0][1]=='table-tennis'

(['carrom', 'table-tennis', 'badminton'], ['football', 'cricket'])

True

In [8]:
cards=['hearts','freecall','solitaire']
# games[0]=cards -->gives an error as tuple is immutable

#let us create a another tuple
games1=(indoor,outdoor,cards)
print(games1)
games1[0:2]==games

(['carrom', 'table-tennis', 'badminton'], ['football', 'cricket'], ['hearts', 'freecall', 'solitaire'])

True

In [9]:
outdoor[0]='hockey' #lists are mutuable
print(games)  

#it is concluded that as tuples are immutable but then also we are able to change its value with the help of the lists

(['carrom', 'table-tennis', 'badminton'], ['hockey', 'cricket'])