In [3]:
#concentation(+)
str="Nielit is in chandigarh"
str2="Nielit is in Ropar also"
str+ str2

'Nielit is in chandigarhNielit is in Ropar also'

In [4]:
#replication(*)
str="Tamshu "
str*3

'Tamshu Tamshu Tamshu '

In [5]:
#membership(in or not in)
str="Tashu is my name."
print("Friend" in str)
print("is" in str)
print("Hitesh" in str)
print("Friend" not in str)
print("is" not in str)

False
True
False
True
False

Ord() function is used to return numeric value of the character i.e for A it is 65

Chr() function returns character corresponding to Ascii code

In [6]:
a=ord("A")
b=ord("z")
c=chr(67)
d=chr(115)
print(a,b,c,d)

65 122 C s

*str="P O R T I O N"*

**Positive indexing:**

-->     0   1   2   3   4   5   6

**Negative indexing:**
    
-->    -7 -6 -5 -4 -3 -2 -1

**Syntex:**

str[start:end-1:skip]

(By default,skip is zero)

In [7]:
str="PORTION"
print(str[0:])
print(str[1:-1])
print(str[-1:])
print(str[-7:])
print(str[-7:2])
print(str[::-1])
print(str[-1:-8:-1])

PORTION
ORTIO
N
PORTION
PO
NOITROP
NOITROP

In [8]:
str="Welcome"
for i in str:
  print((i+"*"),end=" ")

W* e* l* c* o* m* e*

***#String Functions***

**1.**  *len()*-->To find the length of a string

**2.** *upper()*-->To convert all the characters into uppercase

**3.** *lower()*-->To convert all the characters to lower case

**4.** *capitalize()*-->To convert the first letter into upper and remaining letters into lowercase.

**5.** *islower()*--> Returns true if all the letters are lower otherwise return false

**6.** *isupper()*--> Returns true if all characters are upper otherwise return false

**7.** *isalpha()*-->Returns true if all are characters(not any digit or special character includes space too)

**8.** *isdigit()*--> Returns true if all are digits

**9.** *isalnum()*-->Returns true if all are digits or character or both(must not include any special character)


**10.** *count()*-->Number of times a charcter occurs in a string

In [9]:
str="hitesh is my good friend"
print("The length of the string is:",len(str))
print(str.upper())
print(str.lower())
print(str.capitalize())
print(str.islower())
print(str.isupper())
print(str.isalpha())
print(str.isdigit())
print(str.isalnum())
print(str.count('h'))

The length of the string is: 24
HITESH IS MY GOOD FRIEND
hitesh is my good friend
Hitesh is my good friend
True
False
False
False
False
2

***Other String functions:***

**11.** *find()*--> Returns the index of the character in string

**12.** *casefold()*-->Returns the string with all lowercase characters(similar to lower function but it is more stronger)

**13.** *replace()*-->Replace the character within a string

**14.** *endswith()*-->Return true if the string ends with the entered value

In [10]:
str.find('h',2)
print(str.find('w'))  #Returns -1 if not present in a string
print(str.casefold())
print(str.replace('good','best'))
str2="University college of engineering,Punjabi University Patiala"
print(str2.replace('University','uni'))
print(str.endswith('friend'))
print(str.endswith('patiala'))

-1
hitesh is my good friend
hitesh is my best friend
uni college of engineering,Punjabi uni Patiala
True
False

**15.** *lstrip and rstrip()*-->It is used to remove the spaces from the left and the right side of the string

**16.** *isspace()*-->Returns True if there is only whitespace characters,Returns False if the string is empty or atleast one non-printable character

**17.** *join()*-->It is used to join two strings in the way given below

**18.** *swapcase()*-->To convert the lower into upper and vice-versa

**19.** *partition()*-->It will split the string at the first occurence of the separator mentioned

**20.** *split()*-->It will split the string into list of words

In [11]:
var="      "
print("The actual length:",len(var))
var1=var.lstrip()
print("The length of string after ltrip is:",len(var1))
var2=var.rstrip()
print("The length of string after rtrip is:",len(var2))
print(var.isspace())
print(str.isspace())

The actual length: 6
The length of string after ltrip is: 0
The length of string after rtrip is: 0
True
False

In [12]:
var2='tashu'
print(str.join(var2))
print(str.join(var))
var3="Hi,my name is Thomas Shelby"
print(var3.swapcase())

thitesh is my good friendahitesh is my good friendshitesh is my good friendhhitesh is my good friendu
 hitesh is my good friend hitesh is my good friend hitesh is my good friend hitesh is my good friend hitesh is my good friend
hI,MY NAME IS tHOMAS sHELBY

In [13]:
print(var3.partition('name'))
print(var3.partition('lby'))
print("hi,my name is hitesh kumar".partition('h'))

('Hi,my ', 'name', ' is Thomas Shelby')
('Hi,my name is Thomas She', 'lby', '')
('', 'h', 'i,my name is hitesh kumar')

In [14]:
print("hi,my name is hitesh kumar".split())
str="my,name,is,parikh"
str2="tell.me.your.name"
li=str.split()
l2=str.split(',')
l3=str2.split('.')
li=str.split(',',1)
print(li)
print(l2)
print(l3)
print(li)

['hi,my', 'name', 'is', 'hitesh', 'kumar']
['my', 'name,is,parikh']
['my', 'name', 'is', 'parikh']
['tell', 'me', 'your', 'name']
['my', 'name,is,parikh']

## ***Assignment Questions***

In [15]:
#program to replace a character into special character
str="Hello guys,My name is Tashu Bansal.I am doing Btech in Punjabi University,Patiala"
print(str)
str=str.replace('a','@')
str=str.replace('s','$')
str=str.replace('H','|-|')
print(str)

Hello guys,My name is Tashu Bansal.I am doing Btech in Punjabi University,Patiala
|-|ello guy$,My n@me i$ T@$hu B@n$@l.I @m doing Btech in Punj@bi Univer$ity,P@ti@l@

In [16]:
#program to find whether a string is palidrome or not
str="hih"
str2=str[::-1]
if(str==str2):
  print("String is palidrome")
else:
  print("String is not palidrome")

String is palidrome

In [17]:
#program to count alphabets,digits and special characters in a string.
str=input("Enter the string:")
count1=0
count2=0
count3=0
for i in str:
  if(i.isalpha()):
    count1+=1
  elif(i.isdigit()):
    count2+=1
  else:
    count3+=1
print("Number of alphabets:",count1)
print("Number of digits:",count2)
print("Number of special characters:",count3)

Enter the string:hi my name is tashu and welcome here 123
Number of alphabets: 29
Number of digits: 3
Number of special characters: 8

In [18]:
#program to find vowels in a string
str=input("Enter the string:")
vowel=0
v='aeiou'
for i in str:
  for j in v:
    if(i==j):
      vowel=vowel+1
print("Numbers of vowels in entered string are:",vowel)

Enter the string:hey hey hey
Numbers of vowels in entered string are: 3

In [19]:
#program to find the number of words in a string.
str=input("Enter the string:")
count=0
for i in str:
  if(i!=' '):
    count+=1
print("Number of characters in a string:",count)
str1=str.split()
print("Numbers of words in a string:",len(str1))

Enter the string:hello python is very easy language
Number of characters in a string: 29
Numbers of words in a string: 6